#particles-js{
    background-color: #00bcd4;
    height: 100vh;
    overflow: hidden;
}
.material-icons{
    transform: translate(5px, 5px);
    font-size: 28px;
}
.signup{
    clear: both;
    text-align: center;
    padding-top: 6%;
    margin-bottom: 0;
}

mat-card{
  width: 30% !important;
  position: absolute !important;
  left: 33% !important;
  top: 20%;
}

mat-card-title{
    text-align: center;
}

.full-width {
  width: 100%;
}

@media (max-width:900px){
    mat-card{
        width: 50% !important;
        left: 20% !important;
        top: 20%;
    }
}

@media (max-width:550px){
    mat-card{
        width: 80% !important;
        left: 7% !important;
        top: 20%;
    }
}