.notes-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}
mat-dialog-actions{
    float: right;
}
mat-dialog-content{
    overflow: hidden;
}
.img-placeholder{
  height: 100px;
  display: block;
  margin-bottom: 5%;
}
input[type='file']{
  visibility: hidden;
  width: 1px;
}