<div id="particles-js"></div>
<mat-card>
  <mat-card-title>
    <span class="mat-h1 mat-headline">Reset Password</span>
    <!-- <span class="material-icons">event</span> -->
  </mat-card-title>
  <mat-card-content>
    <form class="reset-password-form" #resetPasswordForm="ngForm" (submit)='resetPassword(resetPasswordForm)'>
      <mat-form-field class="full-width">
        <input type="email" name="email" matInput placeholder="Email" ngModel #email="ngModel" required email [attr.disabled]="change">
        <mat-error *ngIf="email.invalid">Please enter a valid email</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width" *ngIf="change">
        <input type="password" name="password" matInput placeholder="Password" ngModel #password="ngModel">
        <mat-error *ngIf="password.invalid">Please enter a valid password</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width" *ngIf="change">
        <input type="password" name="password1" matInput placeholder="Confirm Password" ngModel #password1="ngModel">
        <mat-error *ngIf="password1.invalid">Please confirm your password</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width" *ngIf="change">
        <input type="test" name="code" matInput placeholder="Confirmation code" ngModel #code="ngModel">
        <mat-error *ngIf="code.invalid">Please enter the correct confirmation code sent to your email</mat-error>
      </mat-form-field>

      <button mat-raised-button type="submit" color='accent' style="float: right;margin-top: 5%;" *ngIf="!change">FORGOT PASSWORD</button>
      <button mat-raised-button type="submit" color='accent' style="float: right;margin-top: 5%;" *ngIf="change">RESET PASSWORD</button>
      <p class="signup">Want to login? <a [routerLink]="['/login']">Login</a></p>
    </form>
  </mat-card-content>
</mat-card>